<%= link_to "Додати запис", new_myclient_path, :style=>"font-size:large; border-radius:5px;", :class =>'btn btn-success col-lg-12'%>

<div class="card-group">
  <% Myclient.all.each do |myclient| %>
<div class="col-sm-4">
  <div class="card bg-light mb-3" style="border-radius:5px; font-size:12px; margin:20px;">
    <div class="card-body">
      <span class="fa fa-user"></span>
      <h5 class="card-title " style="text-shadow: 1px 1px 5px darkgrey; text-align:center; font-size:large; border-bottom: 1px solid lightgrey;"><i class="icon-ok" style="margin-right:5px;"> </i><%= myclient.name %></h5>
      <i class="icon-calendar" style="margin-right:5px;"> </i><strong>Дата народження:</strong>   <%= myclient.birth.strftime("%m/%d/%Y") %> <br>
      <i class="icon-briefcase" style="margin-right:5px;"> </i><strong>Місце роботи:</strong> <%= myclient.company %><br>
      <i class="icon-phone" style="margin-right:5px;"> </i> <strong>Номер телефону:</strong> <%= myclient.phone_number %> <br>
      <i class="icon-screenshot" style="margin-right:5px;"> </i>  <strong>Місто:</strong>   <%= myclient.city %> <br>
          <br><br>
      <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_myclient_path(myclient.id), :class =>'btn btn-warning col-lg-2 offset-4'%>
        <%= link_to '<i class="icon-trash"></i>'.html_safe, myclient_path(myclient.id), method: :delete, data:{confirm: "Справді бажаєте видалити цей товар?"}, :class =>'btn btn-danger col-lg-2'%>
    </div>
  </div>
</div>
<% end %>
</div>
<!-- <table border="1">
<tr>
  <th>Ім'я замовника</th>
  <th>Дата народження</th>
  <th>Місце роботи</th>
  <th>Номер телефону</th>
  <th>Місто</th>

<th><%= link_to "Додати запис", new_myclient_path, :class =>'btn btn-success btn-sm'%></th>
</tr>
<% Myclient.all.each do |myclient| %>
<tr>
<td><%= myclient.name %></td>
<td><%= myclient.birth.strftime("%m/%d/%Y") %></td>
<td><%= myclient.company %></td>
<td><%= myclient.phone_number %> </td>
<td><%= myclient.city %> </td>

<td><%= link_to "Редагувати", edit_myclient_path(myclient.id), :class =>'btn btn-warning btn-sm'%>
  <%= link_to "Видалити", myclient_path(myclient.id), method: :delete, data:{confirm: "Видалити запис?"}, :class =>'btn btn-danger btn-sm'%></td>
</tr>
<% end %>
</table> -->
