<h2>Редагувати товар</h2>
<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
<% if @item.errors.any? %>
<%@item.errors.full_messages.each do |msg| %>
<div class="alert alert-danger"><%= msg %></div>
<% end %>
<% end %>
<p>
  Назва<br>
  <%= f.text_field(:name, {:style =>"height:35px;", :class => 'form-control'}) %>
</p>
<p>
  Ціна<br>
  <%= f.number_field(:price, {:style =>"height:35px;", :class => 'form-control'}) %>
</p>
<p>
  Дата виробництва<br>
  <%= f.date_field(:production_date, {:style =>"height:35px;", :class => 'form-control'}) %>
</p>
<p>
  Термін зберігання<br>
  <%= f.number_field(:storage_time, {:style =>"height:35px;", :class => 'form-control'}) %>
</p>
<p>
  Виробник<br>
   <%= f.collection_select :creator_id, Creator.order(:name), :id, :name, {:style =>"height:35px;", :class => 'form-control'} %>
</p>

<p>
  <%= f.submit({:style =>"height:35px;", :class => 'btn btn-success'}) %>
</p>
<% end %>
