<h1> <%= @post.title %></h1>
<p> <%= @post.body %></p>
<p> <%= @post.price %></p>
<hr>
<% if @post.user == current_user %>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Delete", post_path(@post), method: :delete, data:{confirm: "R u sure u wanna delete it?"}, :class => 'btn btn-danger' %>
<% end %>
