<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shu-r-shu" %></title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-bold">Shu-r-shu</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <span class="p-2 text-dark"><%= link_to "Головна", home_path %></span>
        <span class="p-2 text-dark"><%= link_to "Товари", items_path %></span>
        <span class="p-2 text-dark"><%= link_to "Виробники", creators_path %></span>
        <span class="p-2 text-dark"><%= link_to "Замовники", myclients_path %></span>
        <span class="p-2 text-dark"><%= link_to "Замовлення", myorders_path %></span>
        <span class="p-2 text-dark"><%= link_to "Доставка", deliveries_path %></span>
      </nav>

       <% if !user_signed_in? %>
      <span class="p-2 text-dark"><%= link_to "Зареєструватися", new_user_registration_path %></span>
      <span class="p-2 text-dark"><%= link_to "Увійти в систему", new_user_session_path %></span>
       <% else %>
       <span class="p-2 text-dark"><%= link_to "Вийти", destroy_user_session_path, :method => :delete %></span>
       <span class="p-2 text-dark">Раді вітати, <%= current_user.email %></span>
       <% end %>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- <%= bootstrap_flash %> -->
          <p class="notice"><%= notice %></p>
       <!-- <p class="alert"><%= alert %></p> -->
<!-- <span class="p-2 text-dark"><%= link_to "Add post", new_post_path %></span> -->

          <%= yield %>
        </div>
        <!-- <div class="col-lg-3">
          <div class="well sidebar-nav">

            <ul class="nav" style="display:contents;">

              <li><%= link_to "Головна", home_path %></li>
              <li><%= link_to "Товари", items_path %></li>
              <li><%= link_to "Виробники", creators_path %></li>
              <li><%= link_to "Замовники", myclients_path %></li>
              <li><%= link_to "Замовлення", myorders_path %></li>
              <li><%= link_to "Доставка", deliveries_path %></li>
            </ul>
          </div>
        </div> -->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2019</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
